In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import ipywidgets as widgets
from IPython.display import display

df = pd.read_csv('data/partidos_cebollitas.csv')
df['diferencia_goles'] = df['goles_local'] - df['goles_visitante']
df.head()

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,diferencia_goles
0,2023-01-01,Atlético Python,Cebollitas FC,2,0,54,46,12,6,Python Arena,2
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML,-4
2,2023-01-15,Cebollitas FC,Data United,1,0,55,45,10,7,Python Arena,1
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas,-1
4,2023-01-29,Data United,Cebollitas FC,5,3,52,48,7,12,Estadio ML,2

In [4]:
# Interactive slider for test set size
slider = widgets.FloatSlider(value=0.2, min=0.1, max=0.5, step=0.05, description='Test Size:', continuous_update=False)
display(slider)

FloatSlider(value=0.2, continuous_update=False, description='Test Size:', max=0.5, min=0.1, step=0.05)

In [5]:
df_cebollitas = df[(df['equipo_local'] == 'Cebollitas FC') | (df['equipo_visitante'] == 'Cebollitas FC')]

In [6]:
def data_split(test_size):
    X = df_cebollitas[['posesion_local (%)', 'tiros_arco_local', 'goles_local']]
    y = df_cebollitas['diferencia_goles']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
    
    print(f"Train size: {len(X_train)} games, Test size: {len(X_test)} games")

    return X_train, X_test, y_train, y_test

widgets.interactive(data_split, test_size=slider)

interactive(children=(FloatSlider(value=0.15000000000000002, continuous_update=False, description='Test Size:'…

In [7]:
# Standard split with fixed test size for display (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    df_cebollitas[['posesion_local (%)', 'tiros_arco_local', 'goles_local']],
    df_cebollitas['diferencia_goles'],
    test_size=0.2, random_state=42
)

print('Training set preview:')
display(X_train.head())
print('Test set preview:')
display(X_test.head())

Training set preview:

    posesion_local (%)  tiros_arco_local  goles_local
5                   60                 8            3
11                  49                 4            4
66                  43                 4            0
70                  50                 5            2
44                  45                 5            5

Test set preview:

    posesion_local (%)  tiros_arco_local  goles_local
89                  41                 5            4
55                  51                 6            4
58                  42                10            5
88                  54                 9            0
83                  47                 3            3